* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.navigation-bar-container{
    background-color: #F1F1F11A;
    width: 1280px;
    padding: 12px 36px;
}
.left-container {
    background-color: #14141C;
    width: 304px;
    border-radius: 16px;
    padding: 16px 14px;
}
.center-container {
    background-color: #14141C;
    width: 624px;
    border-radius: 16px;
    padding: 16px 14px;
}
.right-container {
    background-color: #14141C;
    width: 304px;
    border-radius: 16px;
    padding: 16px 14px;
}
.right-container .menu,
.left-container .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 16px;
}
.right-container .menu .item,
.left-container .menu .item {
    height: 32px;
    padding: 7px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
}
.right-container .menu .item:hover,
.left-container .menu .item:hover {
    background-color: #3636E311;
    cursor: pointer;
}
.right-container .menu .item.active,
.left-container .menu .item.active {
    background-color: #3636E3;
}



.right-container  .header-row,
.left-container  .header-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
}

.right-container  .select-wrapper,
.left-container  .select-wrapper {
    width: 116px;
    height: 40px;
    background: #FFFFFF26;
    border-radius: 8px;
    position: relative;
    z-index: 999;
}
.right-container  .select-wrapper input,
.left-container  .select-wrapper input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 0 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.right-container  .select-wrapper img,
.left-container  .select-wrapper img {
    position: absolute;
    right: 14px;
    top: 12px;
}
.right-container .settings-wrapper,
.left-container .settings-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #FFFFFF26;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container .settings-wrapper img,
.left-container .settings-wrapper img {
    width: 16px;
    height: 16px;
}

.right-container .chart,
.left-container .chart {
    width: 100%;
    z-index: 1;
    position: relative;
}



.right-container .chart-wrapper,
.left-container .chart-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
.right-container .chart-wrapper p,
.left-container .chart-wrapper p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}
.right-container .chart-wrapper b,
.left-container .chart-wrapper b {
    font-weight: 600;
}


.right-container .time-range-wrapper,
.left-container .time-range-wrapper {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.right-container .time-range-wrapper .item,
.left-container .time-range-wrapper .item {
    width: 60px;
    height: 28px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-container .time-range-wrapper .item.active,
.left-container .time-range-wrapper .item.active {
    background-color: #FFFFFF26;
}


.right-container .main-buttons,
.left-container .main-buttons {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
}
.right-container .main-buttons button,
.left-container .main-buttons button {
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    color: #fff;
}
.right-container .main-buttons button.add-to-watchlist,
.left-container .main-buttons button.add-to-watchlist {
    background: #3636E3;
}
.right-container .main-buttons button.compare,
.left-container .main-buttons button.compare {
    background: #FFFFFF0D;
}



.left-bottom-container {
    width: 304px;
    height: 80px;
    border-radius: 16px;
    border: 1px solid #FFFFFF80;
}

.form-wrapper {
  background-color: #14141C;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: sans-serif;
}
.form-wrapper h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.form-item {
  display: flex;
  margin-bottom: 24px;
}
#username {
    flex-grow: 1;
    width: 100%;
    line-height: 24px;
    background-color: transparent;
    margin-left: 10px;
    color: #fff;
    border: none;
    border-bottom: 2px solid #3d3d3f;
}
.form-item-radio{
    display: flex;
    align-items: center;
}
.form-item-radio input { 
    width: 14px;
    height: 14px;
    margin-left: 10px;
}
.form-item label {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 10px;
}
.form-item label:first-child {
  padding-left: 0px;
}
.submit-button{
    background-color: #3636E3;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}
.form-item input { 
    padding-right: 10px;
}
.form-item input[type="radio"]:checked {
    background-color: #3636E3;
}
 .form-item input[type="checkbox"]{
  -webkit-appearance:none; appearance:none;
  width:20px;height:20px;border:2px solid #3d3d3f;border-radius:4px;
  position:relative;background:#fff;display:inline-block;
}
.form-item input[type="checkbox"]:checked::after{
  content:'\2714';
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-55%);
  font-size:20px;
  color:#3636E3;
  display:block;
}
#username:focus {
    border-bottom: 2px solid #3636E3;
}
.form-wrapper input,
.form-wrapper select,
.form-wrapper textarea,
.form-wrapper label,
.form-wrapper button {
  pointer-events: auto;
  user-select: text;
}

.form-wrapper {
  /* якщо є overlay всередині — гарантуємо прийом подій */
  pointer-events: auto;
}
